@font-face {
    font-family: "ZGGSONG";
    src: url("./ZGGSONG.eot"); /* IE9 */
    src: local("ZGGSONG"), url("./ZGGSONG.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./ZGGSONG.woff") format("woff"), /* chrome, firefox */
    url("./ZGGSONG.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("./ZGGSONG.svg#ZGGSONG") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


